#customer_details{
   margin-bottom: $spacer * 2;
   
   .select2-selection--single{
      box-sizing: border-box;
      border-color: $gray-300 !important;
      width: 100%;
      border-radius: 0 !important;
      height: 40px !important;
      border: 2px solid !important;

      .select2-selection__rendered{
         line-height: 33px !important;
      }
      .select2-selection__arrow{
         top: 5px !important;
      }
   }
}