// content width
$container-max-widths: (
  xl: $container
);
@include media-breakpoint-up(lx) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: $container;
  }
}
.entry-content {
   & > *{
      &:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.sardinia-review-block):not(.where-block):not(.slider-block):not(.aboutus-block ){
         max-width: $small-container;
         margin-left: auto;
         margin-right: auto;
      }
   }
}
.small-container{
   max-width: $small-container;
   margin-left: auto;
   margin-right: auto;
   padding-left: 0 !important;
   padding-right: 0 !important;
}
.smaller-container{
   max-width: $smaller-container;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   padding-left: 0 !important;
   padding-right: 0 !important;
}