// Colours
$primary: #2E266F;
$secondary: #FE043C;
$black: #000000;
$green: #31A24C;
$body-color: #707070;
$light: #FFEDDE;

// Fonts
$poppins-slab: 'Poppins', serif; 
$font-size-base: 1rem;
$small-font-size: $font-size-base * 0.875;
$headings-line-height: 1.3;

// Sizes
$container: 1655px;
$post-container: 900px;
$spacer: 1rem;
$header-height: 100px;

// Border Radius
$border-radius:  .5rem;
$border-radius-lg: 1rem;
$border-radius-sm: .25rem;
