// Colours
$primary: #2E266F;
$secondary: #FE043C;
$green: #31A24C;
$body-color: #707070;
$site-background: #FFF5EC;
$light: #FFEDDE;

// Fonts
$poppins-slab: 'Poppins', serif; 
$font-size-base: 1rem;
$small-font-size: $font-size-base * 0.875;
$headings-line-height: 1.3;

// Sizes
$container: 1450px;
$small-container: 1175px;
$spacer: 1rem;
$header-margin-top: 50px;

// Border Radius
$border-radius:  .5rem;
$border-radius-lg: 1rem;
$border-radius-sm: .25rem;
