.site-header {
   position: sticky;
   top: 0;
   background-color: $site-background;
   z-index: 10;

   .navbar-wrapper {
      .logo-wrapper {
         white-space: normal;

         .site-description {
            @include media-breakpoint-down(md) {
               font-size: 20px;
            }
         }
      }

      .navbar-collapse {
         .navbar-nav {
            @include media-breakpoint-down(md) {
               margin-left: 0 !important;
            }

            .menu-item {
               margin-left: $spacer;
               margin-right: $spacer;
               color: $h-font-colour;

               &:hover {
                  background-color: $light;
                  transition: all 0.3s linear;
               }

               .dropdown-toggle {
                  &:after {
                     margin-left: $spacer;
                  }
               }

               .dropdown-menu {
                  border-radius: 0;
                  background-color: $site-background;

                  @include media-breakpoint-down(md) {
                     border: 0 !important;
                  }

                  .menu-item {
                     margin-left: 0;
                     margin-right: 0;

                     .dropdown-item {
                        color: $h-font-colour;

                        &:hover {
                           background-color: $light;
                           transition: all 0.3s linear;
                        }
                     }
                  }
               }
            }
         }
      }

      .navbar-toggler {
         .navbar-burger-line {
            display: block;
            height: 3px;
            margin-bottom: 6px;
            position: relative;
            background: $primary;

            &:nth-child(1) {
               width: 35px;
            }

            &:nth-child(2) {
               width: 35px;
            }

            &:nth-child(3) {
               width: 20px;
               margin-left: 14px;
            }
         }
      }
   }
}

.site-logo {
   font-size: 60px;

   @include media-breakpoint-down(md) {
      font-size: 40px;
   }
}