.page-header{
   border-left: 15px solid $secondary;
   display: flex;
   align-items: center;
   min-height: 100px;
   margin-bottom: $spacer;

   .page-header-title{
      z-index: 1;
      padding-left: 20px;
      margin-bottom: 0 !important;
   }

   .page-header-description{
      padding-left: 20px;
      margin-top: $spacer !important;  
      margin-bottom: 0 !important;  
   }
}