.single-blog{
   .blog-img-wrapper{
      .wp-post-image{
         width: 100%;
         height: auto;
      }
   }
}

.post{
   .post-img-wrapper{
      .post-img{
         width: 100%;
         height: auto;
      }
   }
}