.single-dish-wrapper {
   .single-dish {
      @include media-breakpoint-down(sm) {
         display: block !important;
      }

      .dish-img-wrapper {
         flex: 0 0 40%;
      }

      .dish-body {
         flex-grow: 1;
      }
   }
}