.pagination{
   justify-content: flex-end;
   margin-top: $spacer * 2.5;
   margin-bottom: $spacer * 2.5;

   .screen-reader-text{
      display: none;
   }

   .nav-links{
      .page-numbers{
         border: 1px solid $secondary;
         margin-left: 2px;
         margin-right: 2px;
         border-radius: 4px;
         padding: 4px 10px;
         text-decoration: none;

         &:hover{
            background-color: $secondary;
            color: $light;
            transition: all 0.7s ease;
         }

         &.current{
            color: $light;
            background-color: $secondary;
         }

         &.next{
            padding-right: 3px !important;
         }

         &.prev{
            padding-left: 3px !important;
         }
      }
   }
}