@import url(https://fonts.googleapis.com/css?family=Poppins);
@import './theme/theme_variables.scss';
@import 'node_modules/bootstrap/scss/bootstrap';
@import './theme/theme_typography.scss';
@import './theme/theme_width.scss';

@import './components/body.scss';
@import './components/menu.scss';
@import './components/page-header.scss';
@import './components/pagination.scss';
@import './components/blocks/service-block.scss';
@import './components/blocks/product-block.scss';