@import url(https://fonts.googleapis.com/css?family=Poppins);
@import './theme/theme_variables.scss';
@import 'node_modules/bootstrap/scss/bootstrap';
@import './theme/theme_typography.scss';
@import './theme/theme_width.scss';

@import './components/body.scss';
@import './components/menu.scss';
@import './components/page-header.scss';
@import './components/pages/pagination.scss';
@import './components/blocks/service-block.scss';
@import './components/blocks/product-block.scss';
@import './components/blocks/slider-block.scss';
@import './components/blocks/about-us-block.scss';
@import './components/blocks/quotation-block.scss';
@import './components/blocks/sardinia-review-block.scss';
@import './components/blocks/slogan-block.scss';
@import './components/blocks/where-block.scss';
@import './components/pages/blog.scss';
@import './components/pages/cart.scss';
@import './components/pages/product.scss';
@import './components/footer/footer.scss';
@import './components/woocommerce/checkout.scss';
@import './components/woocommerce/product-page.scss';