.aboutus-block{
   .aboutus-block-wrapper{
      .aboutus-block-text-wrapper{
         @include media-breakpoint-down(md) {
            padding: $spacer !important;
         }
         .aboutus-block-text{
            font-weight: 400;     
         }
      }
   }
}