.product-block{
   .product-block-wrapper{
      .product-block-header {
         max-width: 400px;
         width: 100%;
         margin-right: auto;
         margin-left: auto;
      }
   }
}
.single-product{
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
   .product-img-wrapper{
      height: 250px;
      overflow: hidden;
      position: relative;
      .product-img{
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
      }
   }
}
