.quotation-block{
   .quotation-block-wrapper{
      .wp-block-quote{
         .quotation-block-cite{
            margin-top: 0;
            font-weight: bold;
            color: $h-font-colour;
         }
         .quotation-block-link{
            font-size: $font-size-base;
            font-weight: bold;
            color: $h-font-colour;
            text-decoration: underline;
         }
      }
   }
}